<!DOCTYPE html>
<html
  dir="{{ .Site.Language.LanguageDirection | default "ltr" }}"
  lang="{{- site.Language.Lang -}}"
  data-theme="{{- .Site.Params.displayMode -}}"
>
  {{- partial "head.html" . -}}
  <body>
    <header>{{ partial "navbar.html" . }}</header>
    <div class="wrapper">
      <aside>
        {{- partial "sidebar.html" . -}}
      </aside>
      <main>
        <div class="autopagerize_page_element">
          <div class="content">
            {{- block "main" . }}{{- end }}
          </div>
        </div>
      </main>
    </div>

    {{- partial "footer.html" (dict "context" . "footerClassModifier" "base") -}}

    {{- if (eq .Site.Params.simpleAnalytics.enable true) -}}
      {{- partial "analytics/simpleanalytics.html" . -}}


    {{- end -}}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.0/dist/APlayer.min.css">
    <script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.0/dist/APlayer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>
    <meting-js fixed="true" auto="https://music.163.com/#/song?id=1494835439"></meting-js>
    
  </body>
</html>
